<% content_for :title, "Editing comment" %>

<div class="edit-comment-page">
  <h1>Editing comment</h1>

  <%= render "form", comment: @comment %>

  <br>

  <div>
    <%= link_to "Back to post", @comment.post %>
  </div>
</div>
