<% content_for :title, "New post" %>

<h1 style="font-size: 2em; color: #333; text-align: center; margin-bottom: 20px;">New Post</h1>

<div style="max-width: 55%; margin: 0 auto;">
  <%= render "form", post: @post %>
</div>

<br>

<div style="text-align: center;">
  <%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>
</div>
